<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Users</p>
                            <p class="card-title">100
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> Update Now
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">NO. OF POSTS</p>
                            <p class="card-title">{{postCount}}
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar-o"></i> Last day
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Errors</p>
                            <p class="card-title">23
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i> In the last hour
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Followers</p>
                            <p class="card-title">+45K
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> Update now
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">POST/NEWS</h5>
                <p style="float:right;"><button class="form-control" [routerLink]="['/post']">Create New</button></p>
                <p class="card-category">24 Hours performance</p>
            </div>
            <div class="card-body ">
                <table id="example1" class="table
        table-bordered table-striped
        dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering
                    engine: activate to sort
                    column descending" style="width: 30px;">SR NO
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser:
                    activate to sort column
                    ascending" style="width:
                    219px;">
                                Headline</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s):
                    activate to sort column
                    ascending" style="width:
                    194px;">
                                Editor Name</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine
                    version: activate to
                    sort column ascending" style="width: 143px;">Photo</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine
                    version: activate to
                    sort column ascending" style="width: 143px;">Subject</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine
                    version: activate to
                    sort column ascending" style="width: 80px;">Status</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine
                    version: activate to
                    sort column ascending" style="width: 143px;">Date</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine
                    version: activate to
                    sort column ascending" style="width: 70px;">Edit</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine
                    version: activate to
                    sort column ascending" style="width: 70px;">Delete</th>
                            <!-- <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 101px;">{{email}}
</th>
<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 101px;">{{balance}}
</th> -->
                        </tr>
                    </thead>
                    <tbody>


                        <tr role="row" class="odd" *ngFor="let post of
                posts; let i = index; ">
                            <td class="sorting_1">{{i + 1}}</td>
                            <!-- <td></td> -->
                            <td>{{post?.headline }}
                            </td>
                            <td>{{post?.editor_name}}</td>
                            <td><img src="{{post?.photo_url_string}}" alt=""></td>
                            <td>{{post?.subject}}</td>
                            <td>{{post?.status}}</td>
                            <td>{{post?.created_at | date:'longDate' }}</td>
                            <td uk-toggle="target: #my-id" (click)="setPostId(post.id)" class="justify-content-center">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                  </svg>
                            </td>
                            <td (click)="deletePost(post.id)" data-toggle="modal" data-target="#exampleModal" class="justify-content-center">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                  </svg>
                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                This Operation cannot be reverted back.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>
<div id="my-id" uk-offcanvas="flip:true">
    <div class="uk-offcanvas-bar" style="width: 800px;">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div class="">
            <form [formGroup]="news">
                <div class="row">

                    <div class="col-md-12 px-3">
                        <div class="form-group">
                            <label>HeadLine</label>
                            <input type="text" class="form-control" formControlName="headline">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Editor Name</label>
                            <input type="email" class="form-control" formControlName="editor_name">
                        </div>
                    </div>

                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label for="">Status</label>
                            <select class="form-control" formControlName="status" name="" id="">
                            <option class="option-effect" (selected)="onStatus()" *ngFor="let item of status" value={{item.status}}>{{item.status}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-3">
                        <div class="form-group">
                            <label for="">Post Type</label>
                            <select class="form-control" (change)="onCategories($event.target.value)" formControlName="post_type" name="" id="">
                            <option class="option-effect" *ngFor="let item of postTypes" value={{item.post_type}}>{{item.post_type | uppercase}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <label>Upload Thumbnail Image</label>
                        <div class="form-group custom-file">
                            <input type="file" class="form-control" name="file" (change)="fileEvent($event)" formControlName="photo">
                            <label class=" custom-file-label " #labelImport for="image "><i class="fas fa-search "></i>{{filename}}</label>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label for="">Categories</label>
                            <select class="form-control" (change)="onCategories($event.target.value)" formControlName="categories" name="" id="">
                            <option class="option-effect" *ngFor="let item of categories" value={{item.id}}>{{item.categories_name | uppercase}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src={{photourl}} alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-3">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" formControlName="subject" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 px-3">
                        <div class="form-group">
                            <label for="">Tags</label>
                            <!-- <ng-multiselect-dropdown [placeholder]="'Select Tags'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="mymodel" [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown> -->
                            <ng-multiselect-dropdown [placeholder]="'Select Tags'" [settings]="dropdownSettings" [data]="dropdownList" formControlName="tags" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 px-3">
                        <div class="form-group">
                            <label for="">Content</label>
                            <angular-editor formControlName="post_content" [config]="editorConfig"></angular-editor>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="update ml-auto mr-auto ">
                        <button type="submit " class="btn btn-primary btn-round " (click)="createPost()">Update Post</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- <div class="row">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Email Statistics</h5>
                <p class="card-category">Last Campaign Performance</p>
            </div>
            <div class="card-body ">
                <canvas id="chartEmail"></canvas>
            </div>
            <div class="card-footer ">
                <div class="legend">
                    <i class="fa fa-circle text-primary"></i> Opened
                    <i class="fa fa-circle text-warning"></i> Read
                    <i class="fa fa-circle text-danger"></i> Deleted
                    <i class="fa fa-circle text-gray"></i> Unopened
                </div>
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar"></i> Number of emails sent
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">NASDAQ: AAPL</h5>
                <p class="card-category">Line Chart with Points</p>
            </div>
            <div class="card-body">
                <canvas id="speedChart" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Tesla Model S
                    <i class="fa fa-circle text-warning"></i> BMW 5 Series
                </div>
                <hr/>
                <div class="card-stats">
                    <i class="fa fa-check"></i> Data information certified
                </div>
            </div>
        </div>
    </div>
</div> -->